body {
  background-color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 40px 30px 40px 30px;
  margin: 120px auto;
  max-width: 700px;
  border-radius: 15px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/149/745/original/background_for_poem.jpg?1731047148");
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  color: #821e4f;
}
main {
  margin-bottom: 30px;
}
.form-container {
  padding: 15px 20px;
  background-color: pink;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  margin-top: 5px;
  line-height: 1.5;
  font-size: 12px;
  opacity: 0.6;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.poem {
  font-size: 16px;

  padding: 20px;
  line-height: 2;
  border-left: 3px solid#885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
  font-size: 20px;
  color: deeppink;
  text-align: center;
}
.hidden {
  display: none;
}
.poem strong {
  color: #885df1;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
